@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');



body {
    margin: 0;
}

.loginSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: whitesmoke;
    height: 100%;
}

.left-side {
    background-image: linear-gradient(320deg,
            hsl(281deg 55% 88%) 0%,
            hsl(271deg 54% 85%) 13%,
            hsl(263deg 53% 82%) 25%,
            hsl(254deg 51% 78%) 37%,
            hsl(245deg 50% 75%) 50%,
            hsl(236deg 48% 72%) 63%,
            hsl(226deg 47% 69%) 75%,
            hsl(218deg 46% 66%) 87%,
            hsl(209deg 45% 63%) 100%);
    padding: 10%;
    padding-bottom: 2%;
    height: 89vh
}

.left-side-inside-box {
    display: block !important;
    margin: auto !important;
    /* height: 100%; */
    padding: 9%;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: white;
    font-size: 5rem;
    font-family: 'Rubik', sans-serif;
}

.right-side{
    padding: 15%;
    font-family: 'Rubik', sans-serif;
}

.logo{
    width: 6rem;
}

label{
    font-size: 1.2rem;
}

.login-form{
    margin-top: 5rem;
}

input{
    width: 70%;
    height: 2rem;
    border: 1px rgb(160, 156, 156) thick;
}

.loginbtn{
    background: linear-gradient(117deg, rgba(40,208,224,1) 18%, rgba(46,88,252,1) 47%, rgba(142,45,253,1) 85%);
    color: white;
    padding: 2%;
    font-size: 1.2rem;
    height: auto;
    border: none;
    border-radius: 5px;
}