.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: .15;
  padding-left: .75em;
  padding-right: .75em;
  }
  .card-registration .select-arrow {
  top: 1px;
  }

  #signupSection{
    height: 100% !important;
  }

  input, textarea{
    width: 100%;
    height: 3.2rem;
    background: rgba(106, 169, 221, 0.188);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
    border-radius: 15px;
    border: 2px solid rgba(79, 112, 211, 0.18);
    padding: 0% 3%;
}

.signupbtn{
  color: rgb(246, 101, 101) !important;
}
.signupoption{
    padding-top: 3%;
    
}

.signup-btn{
  background: linear-gradient(117deg, rgba(40,208,224,1) 18%, rgba(46,88,252,1) 47%, rgba(142,45,253,1) 85%);
    color: white;
    padding: 2%;
    font-size: 1.2rem;
    height: 3rem;
    width: 150px;
    /* margin-left: 28%; */
    border: none;
    border-radius: 5px;
}

.right-side{
  text-align: center;
  background-image: linear-gradient(320deg,
  hsl(281deg 55% 88%) 0%,
  hsl(271deg 54% 85%) 13%,
  hsl(263deg 53% 82%) 25%,
  hsl(254deg 51% 78%) 37%,
  hsl(245deg 50% 75%) 50%,
  hsl(236deg 48% 72%) 63%,
  hsl(226deg 47% 69%) 75%,
  hsl(218deg 46% 66%) 87%,
  hsl(209deg 45% 63%) 100%);
padding: 5%;
}

.imgg{
  width: 100%;
  height: 100%;
}
